.create_account, .sign_in, .change_password {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow:  0px 0px 0px 0px #000;
}

legend.legend_create {
	width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;

}

.row-aktivnosti {
    margin: 10 auto;
    background: #ffffff;
    border: 2px solid #cccccc;
    padding: 20px;
    background: #e1e1e1;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body {

     /*background-color: #3a92c8; */
    background-color: #292929;
    background: radial-gradient(circle,#94d2f8,#292929); 
    /*color: white;*/
}

.globalni_poraki, .color_text {
    color:white;   
}

.modified_span {
    
}

.modified_span > h4 > i > span 
{    color:red;
}

#well_naslov {
    margin-top: 20px;
}

     
.brand > img {
        
    height: 50px;
}

.left-panel {

    background: #97CBFF;    
    height: inherit;
    border-left: 1px solid white;  
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}

/* columns of same height styles 
   example col-md-height     */

.container-xs-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height {
    display:table-row;
}
.col-xs-height {
    display:table-cell;
    float:none;
}
@media (min-width: 768px) {
    .container-sm-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-sm-height {
        display:table-row;
    }
    .col-sm-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 992px) {
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }
}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
}